<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.3.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.3.0" targetFramework="net452" />
  <package id="Accord.Neuro" version="3.3.0" targetFramework="net452" />
  <package id="Aspose.3D" version="17.01" targetFramework="net452" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net452" />
  <package id="FbxSharp" version="0.9" targetFramework="net452" />
  <package id="IronPython" version="2.7.7" targetFramework="net452" />
  <package id="JeremyAnsel.DirectX.D3D11" version="1.0.7" targetFramework="net452" />
  <package id="JeremyAnsel.DirectX.Dxgi" version="1.0.7" targetFramework="net452" />
  <package id="Jint" version="2.9.1" targetFramework="net452" />
  <package id="MerjTek.WpfIntegration.MonoGameControlWinDX" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="MonoGame.Extended" version="0.5.149" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net452" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net452" />
  <package id="SharpGL.WinForms" version="2.4.0.0" targetFramework="net452" />
  <package id="SharpGLCore" version="2.4.0.0" targetFramework="net452" />
  <package id="Syn.Bot" version="2.0.0" targetFramework="net452" />
  <package id="Syn.Bot.Assistant" version="1.0.0" targetFramework="net452" />
  <package id="Syn.Log" version="1.0.5" targetFramework="net452" />
  <package id="Syn.VA" version="1.0.6" targetFramework="net452" />
  <package id="Telegram.Bot" version="10.4.0" targetFramework="net452" />
</packages>